nav{
    background-color: black;
    padding-top: 2.5%;
    padding-left: 5%;
}
nav a{
    color: white;
    font-weight: 600;
}
.logo-section{
    flex: 1;
}
.item-section{
    flex: 2;
    justify-content: space-evenly;
    padding-right: 50px;
}
.logo-img{
    width: 90%;
}
.fa{
    font-size: 20px;
}
.navbar-expand-lg .navbar-nav {
    align-items: baseline;
}
.padding-10{
    padding-left: 10px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: dimgrey;;
}
.dropdown-item:active {
    background-color: black;
}
.dropdown-item:hover {
    background-color: black;
}